.form {
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;
  justify-content: center;
  font-size: 1.25em;

  .input {
    background: none;
    font: inherit;
    color: inherit;
    border: none;
    padding: 0.5rem 1rem;
    outline: 1px solid var(--card-color);
    border-radius: 8px 0 0 8px;

    &:focus-visible {
      outline: 1px solid var(--text-color);
    }
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border-radius: 0 8px 8px 0;
    background-color: var(--text-color);
    color: var(--background-color);

    &.disabled {
      opacity: 0.25;
      cursor: default;
      pointer-events: none;
    }
  }
}
